/* mobile-first bootstrap */
/* reset */

ul, li, menu{
    list-style: none;
}

/* header */
header{
    height: 50px;
    background-color: rgb(250, 250, 250);
}

.row__header{
    background-color: white;
    height: 40px;
}

.logo__mobile{
    max-width: 40px;
}


.input__header{
    background-color: rgb(239, 232, 232);
    border: none;
    border-radius:8px;
    font-size: 12px;
}

.input__header input{
    width: 100%;
    padding: 5px;
    background-color:transparent;
    border: none;
    outline: none;

}


/* ID:#APP */

#app{
    height: calc(100vh -50px);
}


/* ASIDE */

aside{
    width: 80px;
    height: calc(100vh - 50px);
    color: white;
    background-color: rgb(5, 5, 49);
    background-image: url(../img/sidebar-bg.png);
    background-position: center;
    background-size: cover;
    
}

.bg__hover:hover{
    background-color: rgb(199, 193, 193);
    color: rgb(83, 81, 81);
    border-radius: 5px;

}


.icon__bottom{
    margin-top: auto;
}


/* media query aside */
@media (min-width:992px){
    aside{
        width: 150px;
        justify-content: flex-start;
    }
}

/* SECTION MAIN__BAR azzurra */
main{
    width: 100%;
    height: calc(100vh - 50px);
    overflow: auto;
    
}

.main__bar{
    background-color: rgb(37, 78, 228);
}

.main__bar button{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 8px;
}

/* FIRST CARD. prime classi */

.font__row{
    font-size: 13px;
}

.th__large{
    width: 250px;
}

.edit__icon i{
     color: rgb(135, 132, 132);
     padding: 2px;
     border: 1px solid  rgb(135, 132, 132);
     border-radius: 5px;
}

/* OFFCANVAS */

.body-offcanvas.offcanvas.offcanvas-end{
    width: 100%;
}



@media (min-width:768px){
    .body-offcanvas.offcanvas.offcanvas-end{
        width: 100%;
    }
}

@media (min-width:992px){
    .body-offcanvas.offcanvas.offcanvas-end{
        width: 700px;
    }
}

.select-height{
    height: 30px;
    
}







