
.row__classi{
    font-size: 14px;
}


.th__large{
    width: 250px;
}

.edit__icon i{
     color: rgb(135, 132, 132);
     padding: 4px;
     border: 1px solid  rgb(135, 132, 132);
     border-radius: 5px;
}

.body-offcanvas.offcanvas.offcanvas-end{
    width: 100%;
}



@media (min-width:768px){
    .body-offcanvas.offcanvas.offcanvas-end{
        width: 100%;
    }
}

@media (min-width:992px){
    .body-offcanvas.offcanvas.offcanvas-end{
        width: 600px;
    }
}

.select-height{
    height: 30px;
    
}



